.modelbodymisdes{
    width:600px;
    border:1px solid black;
    margin-left: 325px;
    margin-top: 100px;
    background-color:#E0EAFC;
  }
.tablerowmisdes{
  margin-top: 50px;
  margin-left: 50px;
}

.rmdwidth1{
  width: 232px;
  height: 25px;
  border: cornsilk;
  margin-left: 21px;

 }
 .rmdwidth2{
  width: 232px;
  height:25px;
  border: cornsilk;
  margin-left:68px;

 }
 .rmdwidth3{
  width: 232px;
  height: 25px;
  border: cornsilk;
  margin-left: 28px;

 }
 .rmd1width4{
  width: 232px;
  height:25px;
  border: cornsilk;
  margin-left: 64px;

 }
 
 .rmdsendbta{
  background-color: lightseagreen;
  color:blue;
  border-radius: 50px;
  height: 44px;
  width: 110px;
  border: 2px solid white;
  margin-top: 25px;
  margin-left: 89px;

}
.rmdsendbta:hover{
  background-color: darkslategray;
  color: white;
}


.rmdresetbta{
  background-color: lightseagreen;
  color:blue;
  border-radius: 50px;
  height: 44px;
  width: 110px;
  border: 2px solid white;
  margin-left: 100px;
  margin-top: 25px;
}
.rmdresetbta:hover{
  background-color: darkslategray;
  color: white;
}
 
.box1{
    margin-left: 150px ;
    margin-top: -30px;
  }
 