.laptopimg{
    background: url('./desk1.jpeg') no-repeat;
    border:solid 1px cornsilk;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 1300px;
    padding: 0;
    margin-top: 70px;
    
}
.lapform{
    margin-left: 40%;
    margin-top: 10%;
}
.name{
    color: darkred;
}

  .lapsendbta{
    background-color: lightseagreen;
    color:blue;
    border-radius: 50px;
    height: 44px;
    width: 110px;
    border: 2px solid white;
    margin-top: 25px;

  }
  .lapsendbta:hover{
    background-color: darkslategray;
    color: white;
 }


  .lapresetbta{
    background-color: lightseagreen;
    color:blue;
    border-radius: 50px;
    height: 44px;
    width: 110px;
    border: 2px solid white;
    margin-left: 100px;
    margin-top: 25px;
  }
  .lapresetbta:hover{
    background-color: darkslategray;
    color: white;
 }
 .lapwidth1{
  width: 232px;
  height: 25px;
  border: cornsilk;
  margin-left: 39px;

 }
 .lapwidth2{
  width: 232px;
  height:25px;
  border: cornsilk;
  margin-left: 24px;

 }
 .lapwidth3{
  width: 232px;
  height: 25px;
  border: cornsilk;
  margin-left: 90px;

 }
 .lapwidth4{
  width: 232px;
  height:25px;
  border: cornsilk;
  margin-left: 32px;

 }
 .lapwidth5{
  width: 232px;
  height: 25px;
  border: cornsilk;
  margin-left: 62px;

 }



