.author{
    font-size: x-small;
    margin-left: 10px;
}

.backgrnd{
    width:1315px;
    height:420px;
}

.welcome {
    
        position: absolute;
        bottom:300px;
        padding-left: 209px;
        font-size: 45px;
        color:brown;
        
}
