.navbar{
    height:80px;
    background:#65818c;
    width: 1315px;

    
    }
.logo{
    border-radius: 50%;
    height:70px;
    width:70px;
}

.regbtn{
    background-color: lightseagreen;
    color: brown;
    border-radius: 50px;
    height: 44px;
    width: 100px;
    border: 2px solid white;
}
.regbtn:hover{
   background-color: darkslategray;
   color: white;
}