.mislap{
  color:#e63b3bb8;
  font-size: 40px;
  margin-left: 450px;
  font-style: italic;
}
.mislaptoptable{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);  
}
.mislapcrtbtn{
  background-color: lightseagreen;
  color: brown;
  border-radius: 50px;
  height: 45px;
  width: 163px;
  border: 2px solid white;
  margin-left: 519px;
}
.mislapcrtbtn:hover{
  background-color: darkslategray;
  color: white;
}
.mislapemp{
  color:#e63b3bb8 ;
}
  