.modelbodydes{
    width:600px;
    border:1px solid black;
    margin-left: 325px;
    margin-top: 50px;
    background-color:#E0EAFC;
}
.tablerowdes{
  margin-top: 50px;
  margin-left: 50px;
}
.rdwidth1{
  width: 232px;
  height: 25px;
  border: cornsilk;
  margin-left: 39px;
}
.rdwidth2{
  width: 232px;
  height:25px;
  border: cornsilk;
  margin-left: 24px;
}
.rdwidth3{
  width: 232px;
  height: 25px;
  border: cornsilk;
  margin-left: 90px;
}
.rdwidth4{
  width: 232px;
  height:25px;
  border: cornsilk;
  margin-left: 32px;
}
.rdwidth5{
  width: 232px;
  height: 25px;
  border: cornsilk;
  margin-left: 61px;
}
.rdsendbta{
  background-color: lightseagreen;
  color:blue;
  border-radius: 50px;
  height: 44px;
  width: 110px;
  border: 2px solid white;
  margin-top: 25px;
  margin-left: 89px;
}
.rdsendbta:hover{
  background-color: darkslategray;
  color: white;
}
.rdresetbta{
  background-color: lightseagreen;
  color:blue;
  border-radius: 50px;
  height: 44px;
  width: 110px;
  border: 2px solid white;
  margin-left: 100px;
  margin-top: 25px;
}
.rdresetbta:hover{
  background-color: darkslategray;
  color: white;
}
 