.regimg{
    width: 100%;
    height: 100%;
}
.error{
    color: brown;
}
.label{
    color: #293a21;
}
.signup{
    color: brown;
    margin-left: 50px;
}
.already{
    color: #293a21;
}
#acct{
    color: red;
}
#cnl{
    background-color: #3bb58285;
    color: brown;
    border-radius: 50px;
    height: 44px;
    width: 100px;
    border: 2px solid white;
}
#cnl:hover{
   background-color: darkslategray;
   color: white;
}
.container{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);   
    width:1193px;
    height: 816px;
}
.input_box {
    margin: 2px;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    font-weight: bold;
    background-color:#775c6c;
    font-family: sans-serif;
} 
 .input_box:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color:rgb(190, 196, 192);
    color:black;
}