.register
{
    background: #3C3B3F;
    padding-top: 30px;

}
.frm
{
    padding-left: 10px;
}
.btn1
{
    height: 35px;
    background-color:violet;
    color: white;
}
a
{
    margin-left: 15px;
}
.one
{
    width: 75%;

}
